// @use "../utils/mixins" as m;
// @use "../utils/variables" as v;


// $common-dimension: 100%;

// .gallery {
    
//     &__grid-wrapper {
//         display: grid;
//         grid-template-columns: repeat(8, 1fr);
//         // column-count: 3;
//         align-items: start;
//         row-gap: 2rem;
//         column-gap: 2rem;
//         background-color: chocolate;

//         .gal img {
//             width: 100%;
//             height: 100%;
//             object-fit: cover;
//             display: block;
//         }


//     }

// }

