@use "../utils/mixins" as m;
@use "../utils/variables" as v;

.home {
    @include m.grid(2, 0rem, stretch, none);
    height: 100vh;
    grid-template-columns: 75% 25% !important;
    margin-inline-start: 7%;
    overflow-x: hidden;

    @include m.laptop {
        margin-inline-start: -0%;
        margin-block-start: 8rem;
    }

    @include m.tablet {
       grid-template-columns: 1fr !important;
       height: 100% !important;
    }

    &__menu {
        background-color: v.$primary-color;
        position: fixed;
        top: 0;
        left: 0;
        width: 7%;
        height: 100vh;
        z-index: 100;

        @include m.laptop {
            width: 100%;
            height: 12vh;
        }

        .list-icon {
            font-size: 5rem;
            color: v.$color-white;
            text-align: v.$global-center;
            padding-block-start: 2rem;

            @include m.laptop {
                position: absolute;
                right: 0;
                padding-inline-end: 2rem;
            }
        }
    }

    &__home-info {
        background-color: v.$secondary-color;
        height: 82vh;
        background-image: linear-gradient(rgba(16, 29, 44, 0.911)), url(../img/hero.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 4rem 8rem;

        @include m.laptop {
            height: 75vh;
            padding-block-start: 7rem;
        }

        @include m.tablet {
            height: 100vh;
        }

        .web-logo {
            @include m.flex(center, column);
            margin-block-end: 5rem;
            
            @include m.tablet {
                margin-block-end: 12rem;
            }

            img {
                width: 13rem;   
            }
        }

        .home-content {
            margin-block-end: 5rem;

            @include m.tablet {
                margin-block-end: 14rem;
            }
            
            h3 {
                @include m.h3;
            }

            h1 {
                font-size: 4.5rem;
                color: v.$color-white;
                font-weight: v.$font-weight;
            }

            button {
                @include m.primary-button;
            }
        }

        .sponsors {
            @include m.flex(center, column);

            .sponsor-text {
                font-size: 2.2rem;
                color: v.$color-white;
                @include m.grid(3, 0rem, center, center);
                grid-template-columns: 23.4vw 9vw 23.4vw !important;
                color: #aaaaaa;
                font-family: v.$font-family-secondary;

                @include m.laptop {
                    grid-template-columns: 27vw 9vw 27vw !important;
                }

                @include m.tablet {
                    grid-template-columns: 35vw 15vw 35vw !important;
                }

                @include m.phone {
                    grid-template-columns: 28vw 20vw 28vw !important;
                }

                @include m.small-device {
                    grid-template-columns: 22vw 28vw 22vw !important;
                }

                &:before, &:after {
                    content: "";
                    display: block;
                    background-color: #aaaaaa;
                    height: 1.5px;

                    @include m.tablet {
                        height: 1px;
                    }
                }

                 p {
                    margin-inline-start: 1.7rem;
                    text-align: v.$global-center;
                 }
            }

            .brands {
                @include m.grid(4, 7vw, center, center);
                margin: 1.2rem auto 0rem auto;

                @include m.tablet {
                    margin-inline-start: 4rem;
                }

                img {
                    opacity: 0.7;
                    width: 8vw;

                    @include m.tablet {
                        width: 10vw;
                    }

                    &:last-child {
                        width: 5vw;
                        @include m.tablet {
                            width: 10vw;
                        }
                    }

                    &:nth-child(3) {
                        @include m.tablet {
                            width: 17vw !important;
                        }
                    }
                }
            }
            
        }
    }



    &__realtors {
        background-color: v.$secondary-color;
        height: 82vh;
        @include m.flex(center, column);
        padding-inline: 2rem;

        @include m.laptop {
            height: 75vh;
        }

        @include m.tablet {
            height: fit-content;
            padding: 4rem;
        }

        h3 {
            @include m.h3;
            text-align: v.$global-center;
        }

        .real-cont {
            @include m.grid(1, 0rem, center, center);
            row-gap: 3rem;

            @include m.tablet {
                @include m.flex(center, row);
                gap: 10rem;
            }

            @include m.phone {
                @include m.flex(center, column);
                row-gap: 2rem;
            }   

            .realtor-item {
                @include m.grid(2, 0rem, center, none);

                img {
                    width: 7rem;
                    height: 7rem;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .realtor-text {
                    line-height: 1.2;
                    color: v.$color-white;

                    h2 {
                        font-size: 1.8rem;
                        font-weight: 400;
                    }

                    p {
                        font-weight: 100;
                        font-family: v.$font-family-secondary;
                    }
                }
            }
        }
    }
}