@use "../utils/mixins" as m;
@use "../utils/variables" as v;

.properties {
    padding-block: 3rem;
    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(32rem, max-content));
        justify-content: v.$global-center;
        gap: 6rem;

        @include m.tablet {
            padding: 8rem;
            margin-block-start: 29%;
        }

        .properties__card {
            $box-width: 30rem;

            background-color: #f9f7f6;
            width: $box-width;
            overflow: hidden;
            position: relative;

            @include m.tablet {
                width: auto;
            }

            img {
                width: $box-width;

                @include m.tablet {
                    width: 100%;
                }
            }

            .heart-icon {
                position: absolute;
                padding: 1rem;
                top: 0;
                right: 0;
                z-index: 20;

                ion-icon {
                    font-size: 3rem;
                    color: v.$primary-color;
                }
            }

            .text-button-1 {
                @include m.primary-button;
                background-color: v.$secondary-color;
                width: 80%;
                padding-block: 2.3rem;
                position: relative;
                bottom: 15%;
                left: 50%;
                transform: translateX(-50%); 

                @include m.tablet {
                    bottom: 12%;
                }
            }

            .properties__text {
                display: grid;
                justify-content: space-between;
                grid-template-columns: repeat(2, 1fr);
                gap: 4rem;
                align-items: center;
                transform: translateY(-2rem);
                padding-inline: 2rem;

                .text {
                    @include m.flex(row, center);
                    gap: 1.5rem;
                    color: #6d5d4b;
                    font-weight: 300;
                    font-family: v.$font-family-secondary;
                    font-size: 1.5rem;

                    ion-icon {
                        color: v.$primary-color;
                        font-size: 2rem;
                    }
                }
            }

            .text-button-2 {
                @include m.primary-button;
                width: 100%;
            }
        }
    }
}