$primary-color: #c69963;
$secondary-color: #101d2c;
$text-color: #6d5d4b;
$color-white: #fff;

$global-center: center;
$font-weight: 500;

$font-family-secondary: "Nunito", sans-serif;;

// media queries
$laptop: 67.8em;
$tablet: 50em;
$phone-1: 45em;
$phone: 37.5em;
$small-device: 25em;